/*
 * Copyright (c) 2022, TOKITA Hiroshi <tokita.hiroshi@gmail.com>
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/f0/stm32f030X8.dtsi>
#include <st/f0/stm32f030c8tx-pinctrl.dtsi>

/ {
	model = "ST STM32F030C8T6 Board";
	compatible = "st,stm32f030c8t6";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
	air-valve {
		compatible = "air,valve";
		valve-gpios = <&gpiob 9  GPIO_ACTIVE_HIGH>,    // valve1
		<&gpiob 8  GPIO_ACTIVE_HIGH>,    // valve2
		<&gpiob 7  GPIO_ACTIVE_HIGH>,    // valve3
		<&gpiob 6 GPIO_ACTIVE_HIGH>,    // valve4
		<&gpiob 5 GPIO_ACTIVE_HIGH>,    // valve5
		<&gpioa 15 GPIO_ACTIVE_HIGH>;    // valve6
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	prediv = <1>;
	mul = <6>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(48)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};
&iwdg {
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	status = "okay";
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	imu_arm: mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
	};
	imu_palm: mpu6050@69 {
		compatible = "invensense,mpu6050";
		reg = <0x69>;
		status = "okay";
	};
};
&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_miso_pb14 &spi2_mosi_pb15 &spi2_sck_pb13>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 11 GPIO_ACTIVE_LOW>,
	           <&gpiob 3  GPIO_ACTIVE_LOW>,
	           <&gpioa 12 GPIO_ACTIVE_LOW>,
	           <&gpiob 4  GPIO_ACTIVE_LOW>;

	sensor0: sensor0@0 {
		status = "okay";
		compatible = "us6330-015-s";
		reg = <0>;
		spi-max-frequency = <18000000>;
	};
	sensor1: sensor1@1 {
		status = "okay";
		compatible = "us6330-015-s";
		reg = <1>;
		spi-max-frequency = <18000000>;
	};
	sensor2: sensor2@2 {
		status = "okay";
		compatible = "us6330-015-s";
		reg = <2>;
		spi-max-frequency = <18000000>;
	};
	sensor3: sensor3@3 {
		status = "okay";
		compatible = "us6330-015-s";
		reg = <3>;
		spi-max-frequency = <18000000>;
	};
};

&timers3 {
	status = "okay";

	pwm1: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim3_ch1_pa6 &tim3_ch2_pb5>;
		pinctrl-names = "default";
		#pwm-cells = <3>;
	};
};

&timers14 {
	status = "okay";

	pwm2: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim14_ch1_pa7>;
		pinctrl-names = "default";
		#pwm-cells = <3>;
	};
};
&timers16 {
	status = "okay";

	pwm3: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim16_ch1_pb8>;
		pinctrl-names = "default";
		#pwm-cells = <3>;
	};
};

&timers17 {
	status = "okay";

	pwm4: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim17_ch1_pb9>;
		pinctrl-names = "default";
		#pwm-cells = <3>;
	};
};